.jq-stars{display:inline-block}.jq-rating-label{font-size:22px;display:inline-block;position:relative;vertical-align:top;font-family:helvetica,arial,verdana}.jq-star{width:100px;height:100px;display:inline-block;cursor:pointer}.jq-star-svg{width:100%;height:100%}.jq-star-svg polygon{stroke:#000;stroke-linejoin:round}.jq-shadow{-webkit-filter:drop-shadow( -2px -2px 2px #888 );filter:drop-shadow( -2px -2px 2px #888 )}

body {
  font-family:'Inter', sans-serif;
}

/* New Review */
.review-card-container {
  width: 100%;
  max-width: 676px!important;
  padding: 0 1rem 1rem;
  margin-top:2rem;
  background:#fff;
  box-shadow:0 0 5px 0 hsla(0,0%,55.7%,.5);
}
.review-card-container:after {
  content: "";
  display:inline-block;
  position: absolute;
  border-top:20px rgb(0 0 0 / 0%) solid;
  border-bottom:20px rgb(0 0 0 / 0%) solid;
  border-right:20px hsla(0,0%,55.7%,.1) solid;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-top:6px;
  margin-left:20px;
}
.review-card-container .review-winner :before {
  content:'';
  display:block;
  position:absolute;
  left:-12px;
  bottom:-12px;
  border-color:rgba(0,0,0,0) #092F8D rgba(0,0,0,0) rgba(0,0,0,0);
  border-style:inset solid inset inset;
  border-width:0 12px 12px;
  z-index:-999;
}
.review-card-container .review-winner {
  background:#1B4ABE;
  color:#fff;
  display:inline-block;
  padding:0.7rem 1.4rem 0.7rem 0.8rem;
  margin-left:-1.9rem;
  margin-top:-28px;
  position:absolute;
  box-sizing: border-box;
  font-weight:200;
}
.review-card-container .review-info {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-content:flex-start;
  justify-content:flex-start;
  align-items:center;
  padding:2rem 0;
}
.review-card-container .review-info .review-col {
  width:100%;
  max-width:50%;
}
.review-card-container .review-info .review-title a {
  font-weight:600;
  text-decoration:underline;
  color:#000;
  font-size:1.25rem;
}
.review-card-container .review-info .rp-excerpt {
  font-size:0.9rem;
}
.review-card-container .review-info .review-tags .tag {
  font-size:1rem;
}
.review-card-container .review-winner strong {
  font-size:1.4rem;
  font-weight:800;
  letter-spacing:-1px;
}
.review-card-container .review-links a {
  display: block;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 0.6rem 1rem;
  margin-top: 0.8rem;
  border-radius: 7px;
  text-align: center;
  transition:all ease-in-out .3s;
  -webkit-transition:all ease-in-out .3s;
  -moz-transition:all ease-in-out .3s;
  transition:all ease-in-out .3s;
}
.review-card-container .review-links a:hover {
  background:#222;
}
.review-card-container .review-links a:active {
  background:#333;
}
.review-card-container[data-count="1"] {
  box-shadow:0 0 5px 0 #6d9eff;
}
.review-card-container[data-count="1"]:after {
  content: "";
  display:inline-block;
  position: absolute;
  border-top:20px rgb(0 0 0 / 0%) solid;
  border-bottom:20px rgb(0 0 0 / 0%) solid;
  border-right:20px rgb(27 74 190) solid;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-top:6px;
  margin-left:20px;
}
.review-card-container[data-count="1"] {
  border:solid 6px #1B4ABE;
}

/* Responsiveness */
@media only screen and (min-width: 541px) and (max-width: 768px) {

}

@media only screen and (min-width:350px) and (max-width:540px) {
  /* New Review */
  .review-card-container .review-info {
    flex-direction: column;
    padding:2rem;
  }
  .review-card-container .review-info .review-col {
    max-width:100%;
  }
}